[submodule "arachne"]
	path = arachne
	url = https://github.com/kareemsasa3/arachne.git
[submodule "ai-backend"]
	path = ai-backend
	url = https://github.com/kareemsasa3/ai-backend.git
[submodule "arachne-ui"]
	path = arachne-ui
	url = https://github.com/kareemsasa3/arachne-ui.git
